[2015-05-22 03:47] poteto opened #3 "[Feature] Set linkable on Component"
Opt in or out to having links inside of the breadcrumb.

[2015-05-22 03:47] poteto opened #4 "[Feature] Set outputStyle on Component"
Generate different HTML / class names for out of the box Bootstrap and Foundation support.

[2015-05-22 03:49] poteto opened #5 "[Feature] Set default route title for routes with breadCrumb undefined"
Classify the string

[2015-05-22 03:49] poteto opened #6 "[Feature] Add template logic"

[2015-05-22 03:51] poteto opened #7 "[Feature] Check for `hasBlock`"
Might need to polyfill.

[2015-05-22 03:52] poteto opened #8 "[Chore] Set `currentRouteName` to readOnly"

[2015-05-22 03:52] poteto opened #9 "[Chore] Improve warning messages to include addon name"
Makes for easier debugging in consuming apps.

[2015-05-22 03:55] poteto opened #10 "[Chore] Add ember-suave"
Enforce all the styleguides!

[2015-05-22 03:56] poteto opened #11 "[Chore] Create demo app"

[2015-05-22 16:13] #6 closed

[2015-05-22 16:14] poteto commented on #7
Closed in #12

[2015-05-22 16:14] #7 closed

[2015-05-22 16:14] poteto commented on #9
Closed in #12

[2015-05-22 16:14] #9 closed

[2015-05-22 16:15] poteto commented on #8
Closed in #12

[2015-05-22 16:15] #8 closed

[2015-05-22 16:15] poteto commented on #4
Closed in #12

[2015-05-22 16:15] #4 closed

[2015-05-22 16:15] poteto commented on #3
Closed in #12

[2015-05-22 16:15] #3 closed

[2015-05-22 18:07] #10 closed

[2015-05-22 20:06] #5 closed

[2015-06-01 20:06] mkandefer opened #18 "First element in route with null title still creates forward slash"
When I create a route where the first part of the route is given a null titled breadcrumb, the forward slash still appears.

Route is defined as Admin / Profiles / Profile.

Admin's breadCrumb title is set to null, and appears as:

/ Profiles / Profile

Is there a way to get it to display as: Profiles / Profile

[2015-06-01 21:14] poteto commented on #11
http://development.ember-crumbly-demo.divshot.io

[2015-06-01 21:14] #11 closed

[2015-06-01 21:18] poteto commented on #18
@mkandefer This is already how it works, you have to set `breadCrumb: null` on the `index` route for that parent.

E.g. If the first part of your route is `foo`, you should set the breadcrumb on `foo.index`.

Hope that helps!

[2015-06-01 21:36] #18 closed

[2015-06-01 22:22] mike-north opened #19 "Proposal: Multiple crumbs per route"
TL;DR - I have a use case where it would be nice to have a certain route provide more than one "crumb" in the breadcrumb trail.
### The Use Case

Here's the practical use case (being verbose for clarity's sake)

Let's say I have my routes set up as follows:

**app/router.js**

[code]

I'd argue that this is not an unconventional way to set things up. The principle that I'm sticking to here is that

[2015-06-05 06:29] andybluntish opened #20 "Set link classes"
G'day,

Would you be open to adding a `linkClass` attribute to the component? Basically just like `crumbClass` but for specifying a class on the `<a>` element.

What do you think? I'm happy to submit a PR if you like.

[2015-06-05 16:55] poteto commented on #20
Sure!

[2015-06-05 23:22] abhilashlr opened #21 "[Feature Request]: Linkable false issue in child views"
If the route is "foo.baz" and setting "baz" as "linkable:false", and having "edit" route as child of "baz" renders the breadcrumb as "foo > baz > edit" where
foo - linkable
baz - non linkable
edit - linkable.

[2015-06-06 01:14] poteto commented on #21
What's the issue? The `linkable` attr does not flow down to child routes

[2015-06-06 05:34] abhilashlr commented on #21
@poteto yes that is exactly the problem.
The exact use case is:
Home / Abhilash L R - Here only, Home will be linkable and Abhilash L R would be non-linkable
Edit profile route will have breadcrumb as:
Home / Abhilash L R / Edit - In which case, Edit should be non-linkable and Abhilash L R should be linkable.

Ideally, I would like to have all child end points as non linkable and everything before

[2015-06-07 03:28] #20 closed

[2015-06-08 13:44] efx opened #25 "using with ember generate route fails"
Thanks for publishing this addon; it looks helpful but I ran into an issue using it.
ember-cli 0.2.5
ember 1.13.0-beta.2

1. ember new crumbly-bugfix
2. ember generate route somewhere
3. ember serve
Upon navigating to localhost:4200/somewhere the browser console says
[code]
bower.json
[code]
My app/templates/application.hbs has
[code]

[2015-06-08 14:01] poteto commented on #25
As the warning suggests, you need to generate the route `somewhere.index`.

[2015-06-08 14:10] efx commented on #25
I see. All routes need to have an index so crumbly can see them.
`ember generate somewhere/index` fixes it. Thanks!

[2015-06-08 14:10] #25 closed

[2015-06-08 14:49] poteto commented on #25
Only routes with child routes need an `index` route explicitly defined. If it is a 'standalone' route, an `index` isn't necessary!

[2015-06-08 15:11] abhilashlr commented on #25
I fixed this by simply saying in the route:
this.route('somewhere', function() {});

instead of having it as: this.route('somewhere');

[2015-06-08 19:20] wolfbiter opened #26 "addon broken in ember-cli 0.2.7"
I read your post in ember weekly and want to use your component - but I can't get it working in my ember cli project. See terminal output. I also tried again after `npm run clean:all` (see below), same issue.

node v0.12.4
ember-data v1.0.0-beta.18

[code]

![image](https://cloud.githubusercontent.com/assets/1360563/8043091/6b6fd636-0dd8-11e5-97a7-93809626a0b3.png)

[2015-06-08 19:44] poteto commented on #26
This looks like an `ember-browserify` issue – https://github.com/ef4/ember-browserify/issues/35.

[2015-06-08 19:44] #26 closed

[2015-06-08 20:21] wolfbiter commented on #26
@poteto thanks so much for that, you're totally right - sorry for the red herring

[2015-06-17 20:26] poteto opened #28 "Remove `EnumerableUtils`"

[2015-06-18 14:30] poteto commented on #28
Closed by #29

[2015-06-18 14:30] #28 closed

[2015-06-18 16:42] gmurphey opened #30 "Custom Block Param Causes Infinite Rerender in ember@1.13+"
Tests are failing for #27 because the `click` test helper promise is never fulfilled in the release, beta, and canary channels. After a bit of investigation, I found that transitioning to a different route in the dummy app causes an infinite re-render (and infinite deprecations).

To reproduce (on the `develop` branch), run:

[code]

Then open `127.0.0.1:4200/foo/bar/baz` and your developer consol

[2015-06-28 03:35] nesevis opened #33 "_guessRoutePath throws error for non-nested routes."
_guessRoutePath(routeNames, name, index) {
    const routes = routeNames.slice(0, index + 1);

    if (routes.length === 1) {
      return `${name}.index`;
    } else {
      return routes.join('.');
    }
    },
throws this error: `Uncaught Error: Assertion Failed: [ember-crumbly] `route:examples.index` was not found` when in a pod format I have the perfectly legitimate `examples/route.js` `examp

[2015-06-28 04:03] nesevis commented on #33
_guessRoutePath(routeNames, name, index) {
		const routes = routeNames.slice(0, index + 1);

		if (routes.length === 1) {
			return `${name}`;
		} else {
			return routes.join('.');
		}
	},

	_filterIndexRoutes(routeNames) {
		return filter(routeNames, (name) => {
			if (routeNames.length == 1) {
				return true;
			}
			else {
				return name !== 'index';
			}
		});
	},

With this modification, n

[2015-07-27 03:35] jchamet commented on #19
+1

[2015-07-28 01:14] abhilashlr commented on #19
+1

[2015-07-30 11:19] tommyblue opened #35 "Assertion Failed: [ember-crumbly] `route:loading.index` was not found"
This error is shown when I move from a page with ember-crumbly to a page without it.
The next page isn't loaded, so this error totally breaks the page navigation.
I don't have a loading route, but I have a `loading.hbs` template.

[code]

[2015-08-07 10:03] ssured commented on #35
Same problem for me using Ember 1.12.1

[2015-08-07 11:05] ssured commented on #19
:+1:

[2015-08-14 11:46] samdemaeyer opened #36 "Crumb now working is same route"
When transitioning to the same route with another id, the crumb is not being updated.
However, when reload, the breadCrumb will be updated.
Please find the video **[here](http://quick.as/0rJbirbYk)** to illustrate the problem.

[2015-08-14 12:45] cibernox commented on #36
Just to give exact context, the problem is in this lines:  https://github.com/poteto/ember-crumbly/blob/develop/addon/components/bread-crumbs.js#L33-L49

That computed property gets updated whenever the user transitions to a route with a different name, but in our case we're transitioning to the same route with a different id.

I don't know if there any public API in the router or the application

[2015-08-14 16:09] gmurphey commented on #36
This is fixed in #27.

[2015-08-14 16:31] cibernox commented on #36
@gmurphey Good to know. Do you know if that if going to be blocked much longer?

[2015-08-14 16:37] gmurphey commented on #36
@cibernox It's currently blocked by #30, which is fixed by #31 and just need to be merged.

[2015-08-14 16:41] gmurphey commented on #36
@cibernox #27 does work on its own if you want to use that branch for now. It's just that the tests are failing due to an unrelated issue outlined in #30.

[2015-08-14 16:52] cibernox commented on #36
I asked because #31 seems to be there for around a month, so perhaps was not merged for some problem I wasn't aware.

[2015-08-15 01:15] #30 closed

[2015-08-15 01:16] poteto commented on #36
Super sorry about that guys! I accidentally unwatched the repo so I wasn't getting any notifications.

[2015-08-15 01:24] gmurphey commented on #36
No problem, @poteto! Rebasing #27 now!

[2015-08-17 09:24] samdemaeyer commented on #36
@poteto, @gmurphey
Hi Guys, thanks for the quick release!
There is however an issue, if you use the component like this:
[code]
The output does not generate the `<li>` & `<a>` tags any more.
I just updated to the new release. This is how it rendered in 0.2.0:
<img width="197" alt="screen shot 2015-08-17 at 10 18 32" src="https://cloud.githubusercontent.com/assets/7160913/9301842/7664ed10-44c9-11e5

[2015-08-18 00:00] gmurphey commented on #36
Hi, @samdemaeyer! As part of the fix for #30, a `bread-crumb` component was added to render each individual crumb. I believe your template should become:

[code]

Let me know if that doesn't work for you. I'm happy to revisit it.

[2015-08-18 07:45] samdemaeyer commented on #36
@gmurphey, Thanks, that makes sense. It works fine! @poteto, could you document this change in the README. Again, thanks for the quick response and the help!

[2015-08-18 17:08] gmurphey commented on #36
@samdemaeyer @poteto just updated the documentation in #39.

[2015-08-21 20:06] abhilashlr opened #42 "[Intermittent Issue] Setting title in breadCrumb object from route, doesn't enable linkable while moving to child route."
Let us assume, the route is say **foo > baz** and another route **xyz > baz**

Steps to reproduce:
1. In routes/foo.js, pass title as "FOO doesn't hyperlink itself"
2. Don't set linkable
3. Refresh the baz page. You can see the foo with hyperlink and baz as non-linkable. [which is fine]
4. Navigate to the other route xyz and do a page refresh. Come back to baz via foo, you can see foo is not hyper

[2015-08-21 20:35] #21 closed

[2015-08-28 11:31] topaxi commented on #35
Got the same problem with top-level error routes (`templates/error.hbs` or `error/template.hbs`)

[2015-08-28 12:10] poteto commented on #35
Thanks for reporting! Will have a fix out today when I get some time to work on it.

[2015-09-04 03:24] trong291990 opened #46 "Home link prefix any route"
How can to add Home link before any breadcrumb , for example :
Home/Users ( routes/users/index)
Home/Users/new (routes/users/new)
Thanks

[2015-09-06 03:41] abhilashlr commented on #46
I guess you might have to use a custom bread crumb template to render the Home link.

[2015-09-08 08:35] trong291990 commented on #46
Yes, is it supported ?

[2015-09-09 13:57] VasilioRuzanni opened #47 "[Suggestion] Make the `breadCrumb` optional by default (or make this configurable)."
This would help a lot when you need to integrate that into existing product but want to only show the breadcrumbs for specific pages and avoid the need to set `breadCrumb: null` all over every route (there might be tons of routes).

Aside from that, there might be a route that is not `index` (e.g., top-level `about` route) and the guessed name is incorrect (there is no `about.index` but there is `

[2015-09-10 11:29] abhilashlr commented on #46
yes, all ember components do support you to add your own template (override)

create a component in your app folder same as bread-crumbs with template.hbs being your custom template.

until a way is found to achieve it through component's properties/config, this could help you out.

[2015-09-18 19:55] mmahalwy commented on #35
Any word on this? Still having the same problem...

[2015-10-28 16:49] mk-conn opened #49 "Could not find module 'ember-new-computed'"
After upgrading to 1.0.0 this error pops up:

[code]
Already removed node_modules and cleared cache, npm installed again and everything but error still remains ... what could cause this issue?

[code]

[2015-10-29 15:13] poteto commented on #49
Sorry about that, https://github.com/poteto/ember-crumbly/releases/tag/1.0.1 should address this issue.

[2015-11-02 12:41] mk-conn commented on #49
Yep, it is fixed. Thx!

[2015-11-02 12:41] #49 closed

[2015-11-02 14:01] mk-conn opened #50 "Error: Assertion Failed: [ember-crumbly] `route:some-route.index` was not found"
Happens, when there is no 'route'/index route setup in the project. Dunno if the pull request I created would work with 1.0.1 ? https://github.com/poteto/ember-crumbly/pull/34

[2015-11-06 15:08] efx commented on #50
+1

[2015-11-10 12:12] mk-conn commented on #50
Thought I could solve this quickly but I wasn't able to since I have to urgently work on other stuff so I closed the pull request (tests where failing and stuff.. ). So, would be nice if Lauren could solve this?

[2015-12-06 02:37] #33 closed

[2015-12-06 02:37] #35 closed

[2015-12-06 02:37] #50 closed

[2015-12-09 16:46] oleosjo opened #56 "Redirect hook bypassed when clicking on breadcrumb"
When I click on a breadcrumb it seems that the redirect hook in my model doesn't work.

[2015-12-09 18:15] #56 closed

[2015-12-09 18:15] oleosjo commented on #56
I was able to put redirect in index and it worked.

[2016-01-02 11:47] xcambar opened #57 "Demo site"
DivShot has ceased ops, becoming part of Firebase.

Henceforth, the demo site is no longer available, FYI.

[2016-01-02 13:12] xcambar commented on #47
:+1: on this.

The defaults that I can think of right now:
* opt-in: `breadCrumb: null` by default. The devs have to explicitely activate a breadcrumb
* opt-out: `breadCrumb: {}` by default. The devs have to explicitely deactivate a breadcrumb

My personal preference goes to opt-in, fwiw.

[2016-01-07 00:03] ivanvanderbyl commented on #47
I've solved this in my app by declaring `breadCrumb: null` in a `BaseRoute` which all other routes extend.

[2016-01-07 00:18] ivanvanderbyl opened #58 "Using resetNamespace breaks crumbs"
One of the great uses for crumbly is solving the navigation headache of returning to a previous route in heavily nested routes. However, Ember provides `resetNamespace` to prevent your actual code requiring heavy nesting. I'm not sure if others find this to be an issue, but when resetting the namespace, Crumbly's first route returns to the reset point.

This is problematic because it no longer ref

[2016-01-07 07:47] xcambar commented on #47
Thank you. Your solution does the job, such as reopening `Ember.Route`.

But the real point is that it's unfortunate to see your app break right after installing an addon, it doesn't make for a very smooth developer experience, that's what @VasilioRuzanni and I experienced and why we're offering to discuss alternatives.

[2016-01-14 16:44] gonvaled commented on #57
+1

[2016-01-29 18:59] artsyca opened #60 "Failure with missing `index` route"
Steps to reproduce:

1. `{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}` in `application.hbs`
2. Define a `loading.hbs` template in `app/templates/` (This is the minimum requirement for presenting a default loading template)
3. Uncaught Error: Assertion Failed: [ember-crumbly] `route:loading.index` was not found

This can be remedied by generating the required index route (`em

[2016-01-29 19:14] gmurphey commented on #60
This should be fixed by #52. Just need to cut a new release.

[2016-02-02 22:01] barryofguilder opened #61 "Make active breadcrumb not be an anchor tag"
It would be great if there was an option to make the active breadcrumb not be an anchor tag. I'm using the breadcrumb with Bootstrap and their [examples](http://getbootstrap.com/components/#breadcrumbs) show the active breadcrumb to just have text within the list item (no anchor tag).

[code]
Currently, I'm adding my own custom styles to make the active breadcrumb look like normal text instead of

[2016-02-07 15:21] danielspaniel opened #62 "Ignore loading/error routes"
I am getting errors when crumbly can't find a loading route. This is similar to #60, but the twist is these routes, although they don't exist, should not be included in the crumb ( unlike index or other routes that don't explicitly exist but are still breadcrumbable routes. )
 Anyway .. I can submit PR, but wanted to wait till the master branch is updated. Is that going to happen anytime soon?

[2016-02-07 22:15] jlblcc commented on #60
:+1:

[2016-02-16 07:59] ivaylopivanov commented on #46
Just create a templates/components/bread-crumbs.hbs template and use the following

[code]

[2016-02-17 20:21] nem035 commented on #62
+1

[2016-02-21 04:05] ivanvanderbyl commented on #58
Here's a PR to fix this: https://github.com/poteto/ember-crumbly/pull/64

[2016-02-21 04:05] #58 closed

[2016-02-24 16:08] sylwiaeb commented on #62
Any chance to get this fix soon? Having the same issue.

[2016-02-24 16:22] danielspaniel commented on #62
In the meantime you could use my fork:
  put this in package.json and run npm install
 "ember-crumbly": "git+https://github.com/danielspaniel/ember-crumbly.git#a330602b51624297cea1f31e137bbacd15631d13"

  yeah .. i wish whoever was maintaining this would give us a sign. I realize this whole addon needs rewriting and I am willing to rewrite it but there are too many dangling branches that keeps me

[2016-02-24 16:55] sylwiaeb commented on #62
:+1:

[2016-03-03 09:58] Amerr opened #69 "Breadcrumb title i18n issue"
import { translationMacro as t } from "ember-i18n";

  breadCrumb: {
    title:  t('settings.language'),
  }

Error: Uncaught Error: Assertion Failed: Cannot translate settings.language. [object Object] does not have an i18n.

[2016-03-08 10:44] mciastek opened #70 "Remove outputStyle property support"
Hi,

I found that bread-crumb addon very useful, but I think not everyone use Bootstrap or Foundation for layout. Currently it's not possible to fully customize addon's classNames, because `breadcrumb` class is a default one and cannot be overwritten. It can cause some problems, as it is in my case.

Regards

[2016-04-08 01:05] anotheredward opened #73 "Demo site is down :("
The demo site is currently down due to divshot shutting down.
I'd be happy to open a github pages PR if someone can point me in the direction of the demo app's source code?

[2016-04-08 01:06] anotheredward commented on #73
http://development.ember-crumbly-demo.divshot.io/

[2016-04-08 15:57] sylwiaeb commented on #60
So what's the status here?

[2016-04-12 00:37] jme783 commented on #19
+1

[2016-04-20 01:56] abhilashlr commented on #69
If I understand ember-i18n, translationMacro from ember-i18n is a translation Computed property. You might have to use it as

[code]

[2016-04-26 02:03] #73 closed

[2016-04-26 02:03] anotheredward commented on #73
Duplicate of #57

[2016-05-14 05:44] jhunflx opened #77 "Add image to breadcrumb"
Hello!

Is it possible to add an image to one or more breadcrumb items such that the html looks something like this?

`<li class="breadcrumb-item">
    <a id="ember404" class="ember-view" href="/foo"><img src="/assets/images/cow.png" /> Cow</a>
  </li>`

or

`<li class="breadcrumb-item">
    <a id="ember404" class="ember-view" href="/foo"><i class="fa fa-cow"></i> Cow</a>
  </li>`

Many thanks!

J

[2016-05-14 10:54] abhilashlr commented on #77
One can create a custom template in the same name as the add-on - Bread-crumbs.hbs

[2016-05-18 18:47] jhunflx commented on #77
Where does this template reside?  In the same directory as my route?  Currently I have something like this:

[code]
where `template.hbs` looks like this:
[code]

and `bread-crumbs.hbs` looks like this:

[code]

but the code never hits `{{log breadCrumb}}` leading me to believe it's not getting called.  Do you have any sample code of what this should look like?

Thanks!

[2016-05-25 08:51] jameshoward commented on #62
I'm seeing a problem where Ember is transitioning to a route such as `index_loading`. Although 16c80451b17b94116f4fe07fe6ab31712ef3480e excludes `loading`, it won't exclude `index_loading`. Presumably this same problem would occur for other routes' loading routes e.g. `edit_loading`.

[2016-05-25 17:17] danielspaniel commented on #62
Since this addon in no longer being maintained ..
I take the installed addon code .. then I make my own breadcrumb component which overrides the one provided here.
And then change a few things like:

[code]

there might be a few other things I did .. but that is the basic idea .. and should get you started

[2016-05-25 20:46] jameshoward commented on #62
Is it no longer maintained? Where did you see that? The last commit / release was only just over a month ago.

[2016-05-25 21:08] poteto commented on #62
It is still being maintained, but admittedly very poorly. Feel free to use @danielspaniel's fork, I will be addressing these issues when I get the time to do so

[2016-05-25 21:10] poteto commented on #62
P.S. You can still submit a PR, `master` is updated

[2016-05-29 06:31] abhilashlr commented on #77
Did it already work for you?

If not, can you try adding the bread-crumbs.hbs inside **app/components/templates/** path?

[2016-06-03 12:58] alvinvogelzang commented on #62
@danielspaniel thanks the fix is working. I think it's a good thing to ignore these routes by default right? Only problem I see is that this fix will also ignore routes which are named with 'loading' or 'error' on purpose.

[2016-06-03 13:29] danielspaniel commented on #62
@poteto .. thanks for finally getting back on this. I would rather just help rewrite the whole thing since there is more to it than just this small fix. If you like I can work on it this weekend or next .. because this component needs a rewrite.
@alvinvogelzang: hmmm .. nice special case there .. but how to get around that is very tricky

[2016-06-03 15:32] poteto commented on #62
@danielspaniel Yeah that'd be awesome, sorry I dropped the ball on this addon – I've taken on too many things haha. If you'd like, I can add you as a collaborator

[2016-06-03 15:36] danielspaniel commented on #62
@poteto .. I figured that was the case, and I know you have to make priorities for things, and this addon is way less important than composable helpers  ( sorry in advance if that offends anyone .. )
 so, yeah , if you want to add me I can just go to town, but would be funner to work together with someone, even if not you then if you can delegate an appropriate minion ( sorry if that offends anyon

[2016-06-04 02:09] abhilashlr commented on #62
Daniel, let me know if you need help. I would love to contribute

[2016-06-04 12:01] danielspaniel commented on #62
@poteto .. can you make me collaborator then .. i will get started on this
@abhilashlr .. when can you start .. I can work on it this weekend or next.

[2016-06-04 12:02] abhilashlr commented on #62
It's a weekend already here 😂 we can start off immediately☺

[2016-06-04 14:21] danielspaniel commented on #62
@abhilashlr .. sorry for delay .. I was looking things over and seeing what needs to be done and whatnot.
 you on SH?

[2016-06-04 14:32] abhilashlr commented on #62
Sorry what is SH?

[2016-06-04 14:37] danielspaniel commented on #62
screen hero

[2016-06-04 14:49] danielspaniel commented on #62
i just pushed my refactors to the danielspaniel fork of this repo .. so if you pull that you will see what I have started
what i think is needed is some more tests to show that the index or error or loading routes are not shown.
can you ponder how to do that .. and or let me know what else you want to touch up

[2016-06-04 14:58] danielspaniel commented on #62
actually .. i just tested on ember 1.11 and i broke the heck out this so let me ask if we can do version for ember 2 starting now?
@poteto .. you up for a version bump that requires ember 2 and up?

[2016-06-05 03:00] abhilashlr commented on #70
Hello @mciastek

Do these not help solve your case?

https://github.com/poteto/ember-crumbly#set-li-classes
https://github.com/poteto/ember-crumbly#set-a-classes

[2016-06-05 03:02] abhilashlr commented on #69
@poteto we can close this issue as it isn't related to crumbly

[2016-06-05 20:24] jhunflx commented on #77
Unfortunately not.  I tried putting the file in **app/components/templates** as well as in my **app/pods/components/templates**.

Do you have an example of this working in your project that you can share?

[2016-06-06 09:27] abhilashlr commented on #77
It should be in either

app/components/bread-crumbs/template.hbs
Or
app/templates/components/bread-crumbs.hbs

[2016-06-07 00:55] jhunflx commented on #77
The correct path is `app/components/bread-crumbs/template.hbs`

Thank you for taking the time to point me in the right direction!

[2016-06-07 00:57] abhilashlr commented on #77
Cool 😎

[2016-06-19 12:53] Ridermansb opened #80 "How get current bread-crumb in template?"
I define my breadCrumb ..

[code]

How to get `description` in current template?

[code]

[2016-06-23 21:13] bryanhickerson commented on #57
+1

[2016-07-06 03:50] FutoRicky commented on #57
+1

[2016-07-07 06:19] djsegal opened #82 "Autohide crumb container when empty"
if you use `breadCrumb: null` on the first couple (sub)routes, you can end up with an empty crumb container.

it might be nice to autohide it in that case

-----------

**edit:**
 having just one crumb is kind of annoying too. it might be nice to have:
+ a `crumbThreshold`
+ a `firstCrumbRoute`
+ or something else

[2016-07-10 16:32] sergproua opened #83 "breadCrumb override is ignored on a root route"
Consider the following routes.

When navigating to http://localhost:4200/customers the breadcrumbs generated is
1. Customers

However when navigating to http://localhost:4200/customers/1 the breadcrumbs generated is
1. OverrideMe!
2. Profile.

router.js

[code]

routes/customers.js

[code]

[2016-07-11 19:10] christophersansone opened #84 "breadCrumb can be a computed property, but no documentation/tests"
I ran into a situation where the breadCrumb title was stale by the time the page was rendered.  Long story short, `afterModel` on the new route may wind up being called before `deactivate` on the old route, but model changes are rolled back on `deactivate`.  As a result, the breadcrumb was showing the unsaved title that was eventually rolled back.

One method for resolving this situation is to def

[2016-08-01 07:51] alvinvogelzang commented on #19
I created this PR for it: https://github.com/poteto/ember-crumbly/pull/85

Any feedback would be nice :-)

[2016-08-18 09:07] tachun opened #87 "DEPRECATION: Overriding init without calling this._super is deprecated. Please call `this._super.init && this._super.init.apply(this, arguments);` addon: `ember-cli-htmlbars`"
I'm using ember-crumbly@1.0.1 and I get this waring all the time, when I type `npm ls ember-cli-htmlbars` I get this:

[code]

It will be great to use ember-cli-htmlbars@1.x. to fix this waring

[2016-08-18 09:09] tachun commented on #87
Sorry my bad, I just update to 1.0.2 and everything is ok

[2016-08-18 09:09] #87 closed

[2016-09-10 17:39] sergproua opened #88 "Integration testing fails when crumbly is defined in a component"
I'm refactoring my application and moved crumbly from a route to a component template. Now my component integration test fails with an error below:

Eventually I want to add testing and ensure proper path and links have been rendered but stuck here. I've tried many suggestions like using qunit "visit" method, StartApp helper and could not get test to pass. Any help is greatly appreciated.

[code]

[2016-09-14 17:13] jesseditson opened #90 "Project still active?"
This project has a great rating on ember observer, but has a few bugs, broken demo page, and broken CI. Also looks like the PRs are fairly active, wanted to see if you were still working on this.

If the original author has moved on, does someone from the PR thread want to step up and take over? npm still sees this package getting a fair amount of use, but without a maintainer I'll probably switch

[2016-09-19 20:42] poteto commented on #90
It is still active, but I haven't had as much time as I'd like to work on it. I would be very happy to add someone as a collaborator for them to step in when I can't afford a spare cycle

[2016-09-19 20:43] poteto commented on #84
This is supported and working as intended since we fetch the breadcrumb using `Ember.get`. I agree it should be documented though.

[2016-09-20 17:55] christophersansone commented on #84
Thanks @poteto! Here's a PR. :smile:

[2016-09-20 18:38] #84 closed

[2016-10-17 18:34] fsmanuel commented on #90
@poteto I'm here to help. If you give me commit permissions I'll review the PR's and give some guidance with the open issues.

[2016-10-17 18:38] poteto commented on #90
@fsmanuel Done. Thanks for helping out!

[2016-10-17 20:00] fsmanuel commented on #80
@Ridermansb that should actually work.

[2016-10-17 20:01] fsmanuel commented on #77
I'm closing this as the problem is solved.

[2016-10-17 20:01] #77 closed

[2016-10-17 20:04] fsmanuel commented on #69
@abhilashlr I think we can come up with a good solution to this problem. Setting the title in the route is not nice cause you have to set it in all you controllers. I guess a `i18nKey` is a good idea. I'll put some thought into this cause I'm facing the same issue.

[2016-10-17 20:05] fsmanuel commented on #61
@barryofguilder is this still an active issue?

[2016-10-17 20:15] fsmanuel commented on #36
@gmurphey can we close the issue?

[2016-10-17 20:16] fsmanuel commented on #36
@samdemaeyer can we close the issue?

[2016-10-17 20:16] gmurphey commented on #36
@gmurphey Seems okay to close to me. #39 has been merged.

[2016-10-17 20:16] gmurphey commented on #36
@fsmanuel Seems okay to close to me. #39 has been merged.

[2016-10-17 20:22] barryofguilder commented on #61
@fsmanuel, I'm not sure. I haven't worked on the project that was making use of breadcrumbs in months. I can check on this sometime this week though.

[2016-10-17 20:24] #36 closed

[2016-10-17 21:10] dguettler commented on #88
@sergproua routes are not available within integration tests. So we can't determine the current route, which causes above assertion to fail.
ember-crumbly relies on
[code]
to read the `currentUrl` and `currentRouteName`. So if you would want to use this in an integration test you'd need to stub out the `applicationRoute` (route:application), which gets injected into the component, and have the stu

[2016-10-17 21:37] #80 closed

[2016-10-17 22:10] dguettler commented on #83
It looks like ember-crumbly is looking at the `customers.index` route for the override.
So if you define the override on `customers.index` it is correctly applied for both cases.

[2016-10-17 23:43] poteto commented on #88
I would recommend using ember-crumbly in a top level template and then passing in the data into your component as an attribute instead.

[2016-10-18 02:17] dguettler commented on #82
@djsegal you can extend the default bread-crumbs component by defining `app/components/bread-crumbs.js` which would inherit from `ember-crumbly/components/bread-crumbs`.
You can then add additional classes or other functionality as needed. For example add a `hidden` class to the component when the `routeHierarchy` is empty
[code]

If you think this should be part of ember-crumbly please submit a p

[2016-10-18 03:13] dguettler commented on #61
Can't reproduce this issue, closing for now.

[2016-10-18 03:13] #61 closed

[2016-10-18 03:18] dguettler commented on #61
One side note, if you manually define `linkable` in your route it takes precedence over the calculated one.
https://github.com/poteto/ember-crumbly/blob/master/addon/components/bread-crumbs.js#L103

[2016-10-18 03:24] dguettler commented on #57
Closing this for now. Documentation has to do until a new demo page gets created.

[2016-10-18 03:24] #57 closed

[2016-10-18 03:26] dguettler commented on #60
Fixed since 1.0.2 (#71)

[2016-10-18 03:26] #60 closed

[2016-10-18 03:30] dguettler commented on #62
@danielspaniel Is this still an issue? If so is there a PR to fix this?

[2016-10-18 03:30] #90 closed

[2016-10-18 03:32] dguettler commented on #88
Closing for now, this is a limitation we can't easily get around as without routes there are no bread crumbs.

[2016-10-18 03:32] #88 closed

[2016-10-18 03:35] #82 closed

[2016-10-18 03:39] #46 closed

[2016-10-18 03:47] dguettler commented on #47
Closing this for now. Having a top level `customers` route which renders breadcrumbs work fine with the latest version. No need to explicitly define `breadCrumb` in the route.

[2016-10-18 03:47] #47 closed

[2016-10-18 03:52] dguettler commented on #42
@abhilashlr can you give a more explicit example?
I'm not entirely sure I understand `foo` and `xyz`. Are you talking about something like this
[code]

[2016-10-18 08:09] fsmanuel commented on #42
@dguettler I'm not sure if this is already fixed but the latest stabel version has the problem that when you click on `baz` the model route is still disabled.

[2016-10-18 20:19] danielspaniel commented on #62
I think I did not make a PR because the previous maintainer was so flakey I never could get any feedback. But I can put it out there if you like.

[2016-10-19 01:07] dguettler commented on #62
@danielspaniel if you could give a quick example how to demonstrate the issue this would be helpful as a first step.

[2016-10-28 07:56] andrewfan opened #99 "Problems with */* and */index routes"
I have a situation when i want to show breadcrumbs when user visits
`routeWithBreadcrumbsProperty/*` route and dont what to show it when user visits
`routeWithBreadcrumbsProperty/index` route
and i in the first case it make sense to use `routeWithBreadcrumbsProperty` route to get `breadCrumb` title and in the second case it make sense to use `routeWithBreadcrumbsProperty/index` route
unfortunately

[2016-11-11 12:40] Cryrivers opened #100 "Is it possible to support routable engines?"

[2016-11-30 23:47] mrkirchner commented on #83
Ran into the same issue i noticed that in:

bread-crumbs.js

`_guessRoutePath(routeNames, name, index) {
    const routes = routeNames.slice(0, index + 1);

    if (routes.length === 1) {
      let path = `${name}.index`;

      return (this._lookupRoute(path)) ? path : name;
    }

    return routes.join('.');
  },`

Removing the .index on the path seemed to fix my issue but i do not know why it

[2016-12-02 23:25] StevenHeinrich commented on #70
@mciastek has a solid point about not always wanting to use Bootstrap or Foundation. The links @abhilashlr mentioned are helpful for some cases, but still rely on your breadcrumb system being based on list elements. An example of that not being sufficient is Semantic-UI, no list used for breadcrumbs (seen below).

[code]

Even with the drastic difference in element structure, I don't think outputS

[2016-12-06 06:03] mrkirchner commented on #69
Anything come about this?

`breadCrumb: {
   title: this.i18n.t('settings.language')
}`

This doesn't work because .t is undefined.  Seems that the service is injected after i forked the project added i18n to addon and implemented a new property localizationTitle but probably not the best solution.

[2016-12-06 08:06] fsmanuel commented on #69
@mrkirchner use a computed property:

[code]

[2016-12-17 12:45] tpetrone commented on #42
This is happening here too.
*_SoMeTiMeS_*  (o.O) When navigating to `foo/bar/baz`, `bar` is not clickable

[2016-12-17 13:57] tpetrone commented on #42
I can confirm this, if only `title` is set.
Not setting `title` makes it to work as expected.

[2017-01-09 14:30] gogromat commented on #82
I tried the example above, but I am new to ember and it doesn't seem to work for me.
BTW in CSS3 there is an ```:empty``` pseudo-selector that you can use for the list like so:
[code]
But the problem is that it doesn't work if element has white-spaces.
If we could remove white-spaces from crumbly than this would work.
P.S. When CSS4 comes out, the ```:blank``` should solve white-space issue.

[2017-01-20 02:55] henrymazza opened #104 "Route file ignored when both file and directory present."
When I have a base route like `authors.js` and an index route like `authors/index.js`, and then `authors/posts/index.js`, crumbly will generate “Index > Posts” instead of “Authors > Posts”. If I remove “authors/index.js” it will default to “Authors > Posts” indeed, but by default: it will ignore any custom attributes made on `authors.js`.

PS: It may be related to #99 (but with less commas)

[2017-02-12 13:11] chekmare opened #106 "Elements of breadcrumb are not linkable (when they should)"
Let's assume we've got the following route hierarchy: /admin/users and admin route has following definition:

[code]
When you enter the route 'admin', the admin breadcrumb is not linkable since it is the last element of the breadcrumb. Unfortunately, when you proceed to 'admin.users' that admin route is still not linkable. Reload of the page fixes the problem.

The issue here is that when you firs

[2017-02-16 21:04] acorncom opened #107 "Development preview site is down"
As an FYI, the demo url link (https://github.com/poteto/ember-crumbly/blob/master/package.json#L57) is down, as divshot was bought by Firebase in the last year.

Appreciate your work on this!

[2017-03-17 20:31] knownasilya commented on #83
Also seeing this, weird that it requires the index, when the index could have it's own crumb. This is most certainly a bug.

[2017-03-17 20:43] knownasilya opened #109 "Hide element if no crumbs"
Currently the breadcrumb element still shows up and takes up space even if there are no crumbs.

[2017-03-19 03:48] dguettler commented on #109
@knownasilya can you give an example?
Based on existing acceptance tests this should not be the case
See https://github.com/poteto/ember-crumbly/blob/master/tests/acceptance/integration-test.js#L33

[2017-03-19 04:46] dguettler commented on #42
Resolved by #111

[2017-03-19 04:46] #42 closed

[2017-03-19 04:47] dguettler commented on #106
Resolved by #111

[2017-03-19 04:47] #106 closed

[2017-03-19 05:10] dguettler commented on #100
What are the issues you're seeing when trying to use it in combination with routable engines?

[2017-03-19 05:11] dguettler commented on #83
Related #99 and #104

[2017-03-19 05:18] #69 closed

[2017-03-19 17:49] dguettler commented on #62
Closing this, if it's still an issue please give an example and I'll re-open

[2017-03-19 17:49] #62 closed

[2017-03-19 17:50] dguettler commented on #104
@henrymazza yes I agree with you. ember-crumbly should not render `foo.index` when visiting `/foo/bar`

The current proposed solution:
`/foo/bar` renders `foo` and `bar.index` crumbs
`/foo` renders `foo.index` crumb if it exists otherwise fallback to `foo` crumb

Related #99 #83

[2017-03-19 19:04] knownasilya commented on #109
Might be related to the root index issue.

[2017-03-30 10:46] kedano commented on #70
Ember v2.12: `'DEPRECATION: outputStyle option will be deprecated in the next major release`

[2017-04-07 02:28] dguettler commented on #104
I was playing with this yesterday and it actually gets a bit complicated / messy if you have nested routes under an `index` route
[code]
Wondering if anybody else is using similar routing structure or if I'm covering an extreme edge case here.
@henrymazza @andrewfan @sergproua @mrkirchner @knownasilya

[2017-04-07 02:30] dguettler commented on #99
Same issue as #104

[2017-04-07 02:30] #99 closed

[2017-04-07 02:34] dguettler commented on #83
See #104

[2017-04-07 02:34] #83 closed

[2017-04-07 16:43] dbinetti opened #112 "manually set link"
I have a use case that doesn't seem to be covered in the docs.

I have a resource that has several sub-routes (details, relatedobjects, morerelatedobjects) and I use bootstrap tabs to keep a consistent interface.  This means that when I link to a particular resource, I link directly to `/details`, which provides data related to the resource itself (as opposed to the other tabs, which show arrays o

[2017-04-12 22:10] mrkirchner commented on #100
What i am seeing is the following error

`Assertion Failed: [ember-crumbly] Could not find a current route
Error
    at assert (http://localhost:4200/assets/vendor.js:20974:13)
    at assert (http://localhost:4200/assets/vendor.js:32725:34)
    at Class.get (http://localhost:4200/engines-dist/authoring/assets/engine-vendor.js:5072:9)
    at ComputedPropertyPrototype.get (http://localhost:4200/asse

[2017-04-12 22:37] mrkirchner commented on #100
Looks like in bread-crumbs.js

` currentRouteName: readOnly('applicationRoute.controller.currentRouteName'),`

currentRouteName is undefined since controller is pretty much empty.  Hopefully that give you enough info to try to fix it.   If you need me to do anything let me know.
@dguettler

[2017-04-13 03:34] dguettler commented on #104
@henrymazza @andrewfan @sergproua @mrkirchner @knownasilya
Can you try out ember-crumbly@2.0.0-alpha.0
The following will be rendered now
[code]

[2017-04-13 03:37] #109 closed

[2017-04-13 04:19] dguettler commented on #112
@dbinetti just published ember-crumbly@1.0.6 which now allows you to specify a `path` on the `breadCrumb`

[2017-04-13 04:20] dguettler commented on #112
Resolved in 80d316ff0a6db1e7ddaa9600ecea885e8dc87f7a

[2017-04-13 04:20] #112 closed

[2017-04-13 15:56] mrkirchner commented on #104
Seems to work as you described but i am not sure i agree with the proposed solution:

[code]

Shouldn't bar also fallback to bar crumb if index doesn't exist?  Right now even if i define a breadcrumb at the bar route it is not used when the last crumb.  I have to add index route with breadcrumb for almost every route now.

breadcrumb order i believe should always be

[code]
@dguettler

[2017-04-14 19:10] charneykaye opened #114 "Ember CLI ^2.10.x fails to set route breadCrumb value to a Model"
Previously, in a route I would simply use this line to set the breadCrumb to a model after the model for that route is loaded. It was a nice one-step way to get ember-crumbly to create a named link directly to that record's URL. Like this:

    afterModel(model) {
      Ember.set(this, 'breadCrumb', model);
    }

However, as of Ember ^2.10.x this throws `Assertion Failed: Cannot clone an Ember.Ob

[2017-04-15 02:18] dguettler commented on #114
This might actually be related to a recent change in ember-crumbly.
We are now copying the breadCrumb before modifying it so the original value stays around unchanged. I can't think of a better solution right now.
Above seems like a reasonable workaround.
Sorry for the inconvenience this is causing for you.

[2017-04-15 02:25] dguettler commented on #104
Index probably exists (ember generates it), that's why it's not falling back to `bar`.
I can see your point that in the case of `index` you'd want to check if a bread crumb is actually defined as it's rather unlikely someone really wants to see "Index" as a breadCrumb.
So I assume the majority of people would set an explicit breadCrumb for index if desired.
I'll look into how to implement this...

[2017-04-15 02:29] charneykaye commented on #114
Thanks for the info, and thanks for ember-crumbly. It's not a bad
workaround, given that somehow crumbly still gets the path to the entity
right.

El vie., 14 de abr. de 2017 22:18, Daniel Guettler <notifications@github.com>
escribió:

--
"Nick" Charney Kaye

[2017-04-18 12:19] dbinetti opened #115 "using crumbly with index directories"
my app is (in parts) organized using index directories.  meaning, if I have a model resource like `person`, then when listing resources instead of using a template/controller/route like `persons.hbs` and `persons.js`, I instead have a `/persons` directory with `index.hbs` and `index.js` files as the template/controller/routes.  This appears to not be supported with crumbly; is it a limitation that

[2017-04-18 12:21] dbinetti commented on #115
And I should be clear that when I say "not supported", what I actually mean is that customization via setting a `breadCrumb` hash on the route is not supported; it does function perfectly with the default configuration.

[2017-04-18 12:47] dguettler commented on #115
@dbinetti you may want to try `2.0.0-alpha.0` (see #104) this may address your structure better.
I'd still need to include the 1.0.6 change to this version though.

[2017-04-18 18:08] dbinetti commented on #115
`2.0.0-alpha.0` does fix the index route issue; I'll wait to see the `1.0.6` change implemented.  thanks

[2017-04-19 02:41] dguettler commented on #115
@dbinetti try ember-crumbly@2.0.0-alpha.1 it includes 1.0.6 changes for path

[2017-04-19 15:30] dbinetti commented on #115
I've tried a few permutations without success.  Perhaps I'm misusing.  Given the following directory structure:

[code]

On which router do I put the `breadCrumb` hash to indicate the path?  I currently have `{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}`
 on `items/index.hbs` and `items/item.hbs` (not on details, which is the tabbed content.)

[2017-04-22 21:33] charneykaye commented on #114
It has turned out, the new implementation is better. It is a better representation of the relationship between my business rules and `ember-crumbly`, e.g. having a model (nested in the middle of a the route) wherein the breadCrumb is computed via some custom anomaly.

My recommendation is simply (if possible, easily) to improve the error message thrown in this case, e.g. `Invalid breadCrumb for ro

[2017-04-27 10:15] Navaneeth-pk commented on #42
Still cannot use dynamic routes as path.

[2017-04-27 16:02] knownasilya opened #116 "Alternative to outputStyle"
Since it's deprecated, what's the alternative? I'd love to get rid of the deprecation.

[2017-05-11 17:13] kiwiupover opened #118 "Interest in using schema.org breadcrumb spec"
I need to add schema.org breadcrumb spec to our app and I wonderign if this project is interested in adding it.

https://developers.google.com/search/docs/data-types/breadcrumbs
http://schema.org/BreadcrumbList

the output would end up something like this
[code]

[2017-05-12 01:02] poteto commented on #118
Hey, this would be a great feature! Would you enable this via an option in the config?

[2017-05-30 09:26] dmarkin opened #120 "Fix install updated version with npm"
Please, fix version which installed from npm (now it is non-actual version with getOwner issue)

[2017-06-06 10:43] peter-watters commented on #120
Hi,

I just started using this today and it's awesome but similar to **dmarkin** it is throwing a deprecation warning for the getOwner issue which is already fixed it seems.

Can you please tag and release the latest code so npm picks it up properly?

Thanks!

[2017-06-08 22:37] ivorscott commented on #120
If you are waiting for a fix, just go to
node_modules/ember-crumbly/addon/components/bread-crumbs.js and comment out the following
[code]
:)

[2017-06-21 13:17] dguettler commented on #120
1.0.7 Released!

[2017-06-21 13:17] #120 closed

[2017-06-22 22:54] dbinetti commented on #115
I suppose I should have reopened this since I'm still having the issue.  Does not appear that 1.0.7 will resolve.

[2017-06-23 19:20] ascudder commented on #100
I encountered this same problem with one of our projects, so think I found where this issue is coming from.

In the [`_lookupRoute` function in the bread-crumbs component](https://github.com/poteto/ember-crumbly/blob/master/addon/components/bread-crumbs.js#L82), the `getOwner(this)` function can only look up the routes that exist in the parent application. So, when it encounters a route that is in

[2017-07-03 22:36] ryanrishi opened #122 "Reload model from breadcrumb?"
Is there a way to reload a parent route's model from the breadcrumb? For example, if the current route is Home > Farms > Farm > Fields > Field > Crops and you add a new Crop, when you click on the "Field" breadcrumb, reload that Field?
The beforeModel/model/afterModel hooks won't fire because this is a nested route. One solution is to allow the dev to pass in a "reload" property that takes in true

[2017-07-28 09:28] huberts commented on #116
Well, you can always remove your outputStyle declaration, since it only translates 'foundation' declaration to 'breadcrumbs' class.

[2017-09-28 13:50] ToMoCoop commented on #116
Any movement on this? Would love to get an up to date deprecation free app!

[2017-10-03 13:10] yongt9412 commented on #115
I can confirm to have the same problem, I tested also in 1.0.7 with no success, is there something we need to do for making it work? or just use the alpha version?

[2017-10-04 12:05] jeloba opened #124 "Computed property crumbs not updating"
According to the README bread crumbs that are computed property should be updated when their dependent values change.

However since d852852ea2b67cddcb8ee3e769e0a478d8cf1e46 crumbs are simply copied and not watched. This means bread crumbs are not updated after they where rendered once.

[2017-11-22 18:39] knownasilya commented on #115
Also having issues with index being the one that is queried for the top level crumb, when I'm at another child route, not the index. Crumbs re pulled from `parent.index``, parent.myroute` instead of the expected `parent`, `parent.myroute`

[2017-12-01 14:44] dguettler commented on #19
#125 has been merged and published as 1.0.8

[2017-12-01 14:44] #19 closed

[2017-12-11 20:20] cameronblandford opened #126 "No Documentation for Multiple Breadcrumbs"
It'd be nice to have a little blurb instead of having to look in the issues backlog and hunt down how to do it! I'd be happy to submit a PR for that. Glad the functionality is there :)

[2017-12-11 20:30] dguettler commented on #126
Good point.

To set multiple breadcrumbs add `breadCrumbs: []` property to your route.
You'll need to set it to a list of objects each containing the following:
[code]

After trying to use this myself recently I realized it has a shortcoming at least for my use-case.
I needed to be able to pass at least an `id` to the `path`.

So I updated my `bread-crumb` component locally to support
[code]
and t

[2017-12-11 21:37] cameronblandford commented on #126
This addition sounds like it's worth making a PR for - it's basically the reason I needed multiple breadcrumbs in the first place. Thank you for all your help, everything's working great!

[2017-12-19 14:23] jameshoward opened #127 "Deprecation warning for ember-getowner-polyfill < 2.0.0"
Without bumping the version number of ember-getowner-polyfill, this module will cause a deprecation warning in the console.

[2018-01-29 21:24] CezaryH opened #128 "linkable property overrides block usage"
I can't use my own links and linkable property.
That's template of my addon that uses crumbly,
unfortunately when I set linkable=true, then in every li element there are 2 "a" elements
[code]
if I set linkable to false and remove if route.linkable statement then I'm not bale to say if element should be link or not (eg. last element in list)

[2018-02-01 16:34] CezaryH opened #129 "can't remove breadcrumbs className"
Would be nice to be able to remove "breadcrumbs" className from addon if I'd like to change it to something else

[2018-02-01 16:35] CezaryH commented on #124
any news on that ?

[2018-02-01 16:42] CezaryH opened #130 "isHead, isTail properties don't reflect actual state"
if in first or last route breadcrumb is null then isHead & isTail are false for all other breadcrumbs

I believe here's the issue
https://github.com/poteto/ember-crumbly/blob/e2a4f32b0aedd85f53cf0dc442a707eefd0f5e6e/addon/components/bread-crumbs.js#L111

I would suspect that isHead & isTail are calculated for  actual breadcrumb list

[2018-02-13 02:03] JamesWilmot opened #131 "Extending bread-crumbs component fails"
Currently trying to extend the bread-crumbs component from the add-on with the following:

[code]
And I get this assertion failure:
[code]

Is there something really simple and easy which I'm missing?

Thanks for this really useful add-on!

[2018-03-06 02:14] bgantzler opened #133 "First Route treated differently with .index"
I noticed that the first route only is appended .index when guessing the name, but deeper nested routes are not. Any reason the first route is treated differently?

[2018-03-06 02:21] bgantzler opened #134 "Extra spaces in bread crumb after /"
I noticed when converting my current version of bread crumbs to this addon there was a extra space at the / for each bread crumb. Also noticed in your tests you trim before checking this.

If you would like to remove this extra space, change the breadcrumb.hbs to the following
[code]
You could move the tildes around or place more if I missed a senario

See http://handlebarsjs.com/expressions.html

[2018-03-26 20:36] scottkidder opened #135 "ember-cli-babel 5.x deprecation"
:tada:
[code]

[2018-04-10 12:03] spacerobotTR commented on #135
I am facing the same issue also right now.

[2018-04-10 13:49] spacerobotTR opened #136 "Title not displaying correctly after first click of link"
Say I have the routes Servicerequests > Servicerequests.create. For the main service requests link I set it up as:
 `  breadCrumb: {
    title: 'Service Requests',
    path: 'servicerequest'
  }`

When I first go to the page it displays correctly as Service Requests, but after I click the link it transitions to the correct path but displays as servicerequest path until I refresh the page again.

A

[2018-04-16 07:46] zhangzhenhuajack commented on #135
has some problem

[2018-04-19 14:56] ondrejsevcik opened #137 "Is this project dead?"
Hi, I like the idea of ember-crumbly but it seems that there is a bunch of PR that are not being resolved and the same goes for issues. Is this project dead?

[2018-06-04 18:35] scottkidder commented on #137
I came here with the same question, and it appears to be so.

[2018-06-12 13:02] onceatime commented on #135
X1

[2018-06-14 07:58] velrest commented on #137
If it is in fact dead ( looks a lot like it ) it would be helpful to add this to the readme so new users dont build their apps based on this.

[2018-06-23 15:39] scottkidder commented on #135
Fixed in #138 but there is one test still not passing if anyone can take a look!

[2018-06-23 15:41] scottkidder opened #139 "Setup Travis CI?"
I have never done this before so not sure what's involved but this may be worthwhile.

[2018-06-23 15:50] scottkidder commented on #139
Nevermind just noticed the project is on CircleCI.

[2018-06-23 15:50] #139 closed

[2018-06-26 18:44] knownasilya commented on #124
This is still an issue, does anyone have an idea on how to refactor this to make it work?

[2018-09-10 19:18] #124 closed

[2018-09-12 15:01] scottkidder commented on #135
Closed by #138

[2018-09-12 15:01] #135 closed

[2018-09-12 15:07] scottkidder commented on #137
I have just learned about https://github.com/adopted-ember-addons so maybe this project could find it's new home there? @dguettler @poteto

[2018-09-12 20:22] cah-briangantzler opened #141 "Ember-copy should be a dependency"
When upgrading to ember-crumbly 3.0.0 I received and error stating it could not find ember-copy.

I see it is in the dev-dependencies, should it be in dependencies?

[2018-09-13 03:06] dguettler commented on #141
fixed by #142

[2018-09-13 03:06] #141 closed

[2018-09-13 03:07] #137 closed

[2018-09-13 03:08] #136 closed

[2018-09-13 03:10] dguettler commented on #127
should be resolved in the latest version

[2018-09-13 03:10] #127 closed

[2018-09-13 13:38] cah-briangantzler commented on #141
Thanks, I had done as you suggested prior to posting the message, in case there were any other missing dependencies. Posted this issue to hopefully help other people resolve the problem

[2018-09-14 11:35] dguettler commented on #141
3.0.1 fixes the issue
On Thu, Sep 13, 2018 at 9:38 AM Brian Gantzler <notifications@github.com>
wrote:

[2019-03-01 20:33] kumy commented on #116
Any news on this? Is PR #97 a solution for this deprecation?

[2019-11-06 01:37] GCheung55 commented on #100
@dguettler with #143 merged, what are the next steps to publishing a new version to NPM?

[2020-09-14 04:00] rakesh5208 opened #145 "New Release to support ember engines."
code fix has been merged to master to support ember engines, new release is required to support the ember engines.
Existing release has bug, Router service is wrongly injected.

[2020-09-23 21:10] GCheung55 commented on #145
@dguettler anything we can help with to get a new release and should #143 be merged before a new release?

[2020-09-24 06:09] rakesh5208 commented on #145
@GCheung55 , there is a bug, while using the ember engines, link-to component has been extended inside the ember-engines addon, that prefix the mountPoint inside the extended component.
So there is one PR #146 has been created, i think before release this bug has to fixed.

[2020-09-25 16:20] GCheung55 commented on #145
@rakesh5208 Sorry, I linked to the wrong PR in my comment but corrected it.

[2021-04-02 13:09] cah-briangantzler opened #147 "hasBlock deprecation"
DEPRECATION: `hasBlock` is deprecated. Use `has-block` instead. ('ember-crumbly/templates/components/bread-crumb.hbs' @ L3:C10)  [deprecation id: has-block-and-has-block-params] See https://emberjs.com/deprecations/v3.x#toc_has-block-and-has-block-params for more details.

[2021-06-10 21:45] cah-brian-gantzler opened #149 "Migration from ember-crumbly due to no longer being maintained"
Since this addon seems to be no longer maintained and there are issues with deprecations that need to be resolved, I did a lot of research on switching to another addon or just doing it myself. In ember 3.10, ember provided a way to do what ember crumbly was mostly doing with the breadcrumb property on the route. Given that, the other approaches did not use what ember was providing and were doing